*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

#root {
  .contacts-page-wrapper {
    position: relative;
    padding: 20px 0 0 0;

    .search-contact-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .search-icon-wrapper {
        margin: 0 10px 0 0
      }

      .search-input-wrapper {
        input {
          padding: 5px;
          border: 1px solid grey;
          border-radius: 10px;
          outline: none;
        }
      }
    }
    .contacts-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .contact-item-wrapper {
        min-width: 250px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(12, 175, 20, 0.822);

        .contact-item-image {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 90px;
          }
        }

        .contact-item-name {
          border-bottom: 1px solid rgb(192, 192, 192);

          p {
            padding: 3px 0;
          }
        }

        .contact-item-call {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid rgb(192, 192, 192);

          p {
            padding: 3px 0;
          }
        }

        .contact-item-phonenumber {
          border-bottom: 1px solid rgb(192, 192, 192);

          p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            padding: 3px 0;
          }

        }

        .contact-item-functions-wrapper {

          margin: 5px 0 0 0;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          .contact-item-change {
            cursor: pointer;
            border-radius: 10px;
            padding: 5px;
            background-color: #ececec;
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              user-select: none;
              padding-left: 6px;
            }
          }

          .contact-item-delete {
            border-radius: 10px;
            padding: 3px 5px;
            background-color: #ececec;
            cursor: pointer;
          }
        }
      }
    }
    .create-contact-wrapper {
      padding: 6px;
      border-radius: 10px;
      background-color: #ececec;
      border: 1px solid rgba(12, 175, 20, 0.822);
      display: flex;
      flex-direction: row;
      cursor: pointer;
      align-items: center;
      position: fixed;
      bottom: 15px;
      right: 20px;
    }
  }
}

      .popup-wrapper{
        position: relative;
        width: 60%;
        padding: 20px;
        background-color: #d8d8d8;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .popup-close-icon{
          position: absolute;
          right: 20px;
          top: 20px;
          cursor: pointer;
        }
        .name-input-wrapper{
          padding: 15px 0;
        }
        .surname-input-wrapper{
          padding: 15px 0;
        }
        .phone-input-wrapper{
          padding: 15px 0;
        }
      }


